<h2 id="progress">Progress</h2>
<p><emph>Click on a problem's number to see my solution for it.</emph></p>
<table class="legend euler">
  <tr>
    <td><div class="euler-circle complete"></td></div>
    <td class="text">
      Solution solves problem on Project Euler and scores 100% on HackerRank.
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle hackerrank-imperfect"></td></div>
    <td class="text">
      Solution scores less than 100% on HackerRank, but still solves the original problem.
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle euler-only"></td></div>
    <td class="text">
      Solution relevant only to Project Euler (problem not on HackerRank or changed too much).
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle tle"></td></div>
    <td class="text">
      Solution exceeds either the given time limit of 60 seconds or memory limit of 256 MB.
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle unsolved"></td></div>
    <td class="text">
      Problem has not been solved.
    </td>
  </tr>
</table>
{{ $s := newScratch }}
{{ $s.Set "max" 0 }}
{{ $currMax := 70 }}
{{ range (where (.Site.RegularPages.ByParam "slug") "Section" .Section) }}
{{ $currMax = (int .File.BaseFileName) }}
{{ if ge $currMax ($s.Get "max") }}
{{ $s.Set "max" $currMax}}
{{ end }}
{{ end }}
{{ $s.Set "num" 0 }}
{{ if modBool ($s.Get "max") 100 }}
{{ $s.Set "lastMax" 100 }}
{{ else }}
{{ $s.Set "lastMax" (mod ($s.Get "max") 100) }}
{{ end }}
{{ range $idx, $block := (seq (math.Ceil (div ($s.Get "max") 100.0))) }}
<table class="map euler">
  {{ range $idx2, $row := (seq 5) }}
  {{ if le ($s.Get "num") ($s.Get "max") }}
  <tr>
    {{ range $idx3, $cell := (seq 20) }}
    {{ $s.Set "num" (add 1 (add (add (mul $idx 100) (mul $idx2 20)) $idx3)) }}
    {{ if le ($s.Get "num") (mul 20 (math.Ceil (div ($s.Get "max") 20.0))) }}
    {{ $s.Set "path" (printf "euler/%d" ($s.Get "num")) }}
    {{ if (fileExists (printf "%s.md" ($s.Get "path"))) }}
    {{ $s.Set "status" (($.Site.GetPage ($s.Get "path")).Params.status | default "dg" ) }}
    {{ else }}
    {{ $s.Set "status" "gr" }}
    {{ end }}
    {{ if le ($s.Get "num") ($s.Get "max") }}
    <td class="{{ index $.Site.Data.euler.colourCodes ($s.Get "status") }}">
      <a title="{{ with $.Site.GetPage ($s.Get "path") }}{{.Title}}{{ end }}" href="{{ $s.Get "path" | absURL }}">{{ $s.Get "num" }}</a>
    </td>
    {{ else }}
    <td></td>
    {{ end }}
    {{ end }}
    {{ end }}
  </tr>
  {{ end }}
  {{ end }}
</table>
{{ end }}
