<h2 id="progress">Progress</h2>
<p><emph>Click on a problem's number to see my solution for it.</emph></p>
<table class="legend euler">
  <tr>
    <td><div class="euler-circle complete"></td></div>
    <td class="text">
      Solution solves problem on Project Euler and scores 100% on HackerRank.
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle hackerrank-imperfect"></td></div>
    <td class="text">
      Solution only solves original problem on Project Euler.
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle euler-only"></td></div>
    <td class="text">
      Solution relevant only to Project Euler.
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle tle"></td></div>
    <td class="text">
      Solution exceeds given time limit of 60 seconds or memory limit of 256 MB.
    </td>
  </tr>
  <tr>
    <td><div class="euler-circle unsolved"></td></div>
    <td class="text">
      Problem has not been solved.
    </td>
  </tr>
</table>
{{ $s := newScratch }}
{{ $s.Set "max" 0 }}
{{ $currMax := 70 }}

{{ range (where (.Site.RegularPages.ByParam "slug") "Section" .Section) }}
{{ $currMax = (int .File.BaseFileName) }}
{{ if ge $currMax ($s.Get "max") }}
{{ $s.Set "max" $currMax}}
{{ end }}
{{ end }}
{{ if modBool ($s.Get "max") 100 }}
{{ $s.Set "lastMax" 100 }}
{{ else }}
{{ $s.Set "lastMax" (mod ($s.Get "max") 100) }}
{{ end }}
<div class="map euler">
  {{ range $idx := (seq 1 ($s.Get "max")) }}
  {{ $s.Set "path" (printf "euler/%d" $idx) }}
  {{ if (fileExists (printf "%s.md" ($s.Get "path"))) }}
  {{ $s.Set "status" (($.Site.GetPage ($s.Get "path")).Params.status | default "dg" ) }}
  {{ else }}
  {{ $s.Set "status" "gr" }}
  {{ end }}
  <div class="{{ index $.Site.Data.euler.colourCodes ($s.Get "status") }}">
    {{ if (fileExists (printf "%s.md" ($s.Get "path"))) }}
      <a title="{{ with $.Site.GetPage ($s.Get "path") }}{{.Title}}{{ end }}" href="{{ $s.Get "path" | absURL }}">
    {{end}}
    {{ $idx }}
    {{ if (fileExists (printf "%s.md" ($s.Get "path"))) }}
      </a>
    {{end}}
  </div>
  {{ end }}
</div>
