<table style="margin: 0px auto;" class="fancy-table" id="euler-progress-table">
  <thead>
	<tr>
	  <th data-sort-method='number' role="columnheader">&num;</th>
	  <th role="columnheader">Problem Name</th>
	  <th data-sort-method='number' title="Project Euler difficulty (out of 100)" role="columnheader">PE</th>
	  <th role="columnheader" title="Hackerrank difficulty">HR</th>
	  <th data-sort-method='number' role="columnheader">Runtime (ms)</th>
	  <th data-sort-method='number' role="columnheader">Memory (KB)</th>
	</tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
