a.tag {
  color: black;
  opacity: 0.5;
  font-size: 0.8em;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .side {
    display: none;
    flex-direction: column;
    margin: 7em 0 0 3em;
    width: 12em;
    h3 {margin-bottom: 0.25em;}
    section {justify-content: flex-start;}
    section.info {
      .date {font-size: .75em;}
      .category {
        font-variant: small-caps;
        font-weight: bold;
      }
      .taglist {
        li {display: inline-block;}
        li:after {
          content: ',\00a0';
	      color: black;
          opacity: .4;
        }
        li:last-child:after {
          content: ''
        }
      }
    }
    section.recent{
      margin-top: 1.25em;
      li {
        line-height: 1.2em;
        padding: 3px;
      }
    }
  }
}
.blog {
  width: 30em !important;
  max-width: 90%;
  margin: 0 auto;
}
.article {
  width: 37em;
  max-width: 90%;
  line-height: 1.5em;

  h1.title {
    font-size: 2.25em;
    text-align: center;
    a {color: black;}
  }

  h1 { font-family: "Palatino Linotype"; font-size: 1.75em; margin: 1em 0 .5em 0}
  h2 { font-family: "Palatino Linotype"; font-size: 1.5em; margin: .83em 0 .3em 0}
  h3 { font-family: "Palatino Linotype"; font-size: 1.17em; margin: 1em 0 .35em 0}
  h4 { font-family: "Palatino Linotype"; font-size: .83em; margin: 1.12em 0 .5em 0}
  h5 { font-family: "Palatino Linotype"; font-size: .75em; margin: 1.5em 0 .5em 0}
  h6 { font-family: "Palatino Linotype"; font-size: .50em; margin: 1.67em 0 .5em 0}

  header {
    text-align: center;
    font-variant: small-caps;
    .title {line-height: 1.25em;}
    .subtitle {
      margin-top: -0.75em;
      font-size: 1.125em;
      font-style: normal;
    }
    .mobile {
      margin-top: -0.75em;
      margin-bottom: 0.5em;
      display: flex;
      flex-direction: row;
      * {
        flex-basis: 50%;
      }
      .date {
        text-align: left;
        font-size: 0.8em;
        font-variant: normal;
      }
      .category {
        text-align: right;
        font-weight: bold;
      }
    }
  }

  hr {
    width: 75%;
    height: 3px;
    border: 0;
    margin-top: 3ex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(178, 34, 34, 0.5), rgba(0, 0, 0, 0));
  }

  /* Footer */

  #related {
    display: flex;
    .post {
      padding: 5px;
    }
  }

  #next-prev {
    margin-top: 1em;
    width: 100%;
    .left {text-align: left;}
    .right {text-align: right;}
    .arrow {font-variant: small-caps;}
  }

  .mobile {
    .tags {
      font-size: 0.8em;
      color: black;
      opacity: .5;
    }
    .tags:after {content: '\00a0'}
    .taglist {
      display: inline;
      li {display: inline-block;}
      li:after {
        content: ',\00a0';
	    color: black;
        opacity: .4;
      }
      li:last-child:after {
        content: ''
      }
    }
  }
}
@media only screen and (min-width: 57em) {
  .side {display: flex !important}
  .mobile {display: none !important}
}
@media only screen and (min-width: 60em) {
  .side {width: 15em !important}
}
@media only screen and (min-width: 70em) {
  .side {width: 20em !important}
}
