article.section {
  margin: 10px auto;
  h2 {
    font-size: 1.25em;
    font-weight: normal;
    margin: 2px 0 -2px 0;
  }
  .taglist {
    font-size: 0.95em;
    li {
      display: inline-block;
      font-variant: small-caps;
    }
    li:before {
      content: '\00a0\2022\00a0';
	  color: black;
      opacity: .4;
    }
    li:first-child:before {
      content: '';
    }
  }
  article {
    text-align: center;
    margin-bottom: 2.5ex;
  }
  #date {
    font-size: .8em;
    opacity: .5;
  }
  #description {
    margin-top: 0.5ex;
    font-style: italic;
  }
}
