.section {

  section h2 {
    margin: 5px 0 2px 0;
    font-size: 1.25em;
    font-weight: normal;
  }

  .taglist {
      li {
        display: inline-block;
        font-variant: small-caps;
      }
      li:before {
        content: '\00a0\2022\00a0';
	      color: black;
        opacity: .4;
	      font-size: 11px;
      }
      li:first-child:before {
          content: '';
      }
  }

  section table {
    padding-top: 5px;
    margin: 0;
    width: 100%;
    margin-top: 10px;
    border: none;
  }

  section tr, section td {
    margin: 0;
    padding: 10px 0;
    border: none !important;
  }
  section .post td {
    text-align: center;
  }
  section #date {
    font-size: .8em;
    opacity: .5;
    font-family: "Segoe UI";
  }
  section #description {
    font-style: italic;
  }

  div#content {
    padding-bottom: 50px;
  }

  div#content hr {
    width: 61.8%;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(178, 34, 34, 0.5), rgba(0, 0, 0, 0));
  }
}
