code,kbc,pre {
  font-family: Hack, Consolas, Inconsolata, monospace;
  font-size: 0.95em;
}

code,kbc {
  background-color: #fdf6e3;
  color: #cb4b16;
  padding: 0 2px;
}

.highlight {
  background-color: #fdf6e3;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  border-radius: 0.75em;
  line-height: 1.3em;
  code {padding: 0}
  pre {padding: 15px 0}
  td.lntd {padding-right: 5px;}
  td.lntd:first-child {
    border-right: 1px solid #93a1a1;
    padding-left: 7px;
  }
  td.lntd:last-child {padding-left: 12px;}
}
