article.euler {
  .fancy-table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 1em auto;
    th {
	  background: firebrick;
	  color: ivory;
	  font-style: italic;
      font-family: "Palatino Linotype";
      vertical-align: middle;
    }

    td, th {
	  padding: 2px 10px !important;
    }

    thead th:first-child {
      border-radius: 10px 0 0 0;
    }
    thead th:last-child {
      border-radius: 0 10px 0 0;
    }
    tbody tr:last-child td:first-child {
      border-radius: 0 0 0 10px;
    }
    tbody tr:last-child td:last-child {
      border-radius: 0 0 10px 0;
    }
    tbody tr:hover {
      background-color: #fcf4d9;
    }
  }
  table.euler {
	border-collapse: separate;
	border-spacing: 0.125vw;
  }

  div.map {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.75em;
  }

  div.map > * {
    flex: 0 0 32px;
    justify-content: flex-start;
    margin: 1px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    font-weight: bold;
    a {
      width: 100%;
      display: block;
      color: inherit;
    }
  }

  table.legend {
	border-spacing: 3px;
    td {
	  font-size: 95%
    }
  }
  .euler-circle {
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	border-width: 0.08vw;
	border-radius: 50%;
  }

  table.legend td.text {
	text-align: left;
	padding-left: 0.5em;
	font-weight: normal;
  }

  td.text {
	background-color: ivory;
	color: black;
	font-weight: normal;
  }

  .complete {
	background-color: green;
	border: 1px solid darkgreen;
	color: #DDFFDD;
  }

  .hackerrank-imperfect {
	background-color: #DDFFDD;
	border: 1px solid green;
	color: green;
  }

  .euler-only {
	background-color: #9999FF;
	border: 1px solid #333;
	color: #333;
  }

  .tle {
	background-color: khaki;
	border: 1px solid #6d660a;
	color: #6d660a;
  }

  .unsolved {
	background-color: #ededed;
	border: 1px solid dimgray;
	color: gray;
  }

  span.fast {
	color: #2db92d;
  }

  span.medium {
	color: green;
  }

  span.slow {
	color: #B58900;
  }

  span.tooslow {
	color: crimson;
  }

  figure.logos {
    display: flex;
    justify-content: center;
    a {
      padding: 5px;
    }
  }
}
