@import "scrollbar";

body {
  background-color: ivory;
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", "Helvetica Neue", 'Helvetica', 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'URW Palladio L', 'Palladio URW', 'TeX Gyre Pagella', sans-serif;
  cursor: default;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Pseudo element: selection */

::selection {
  background-color: firebrick;
  color: ivory;
}
::-moz-selection {
  background-color: firebrick;
  color: ivory;
}

::selection:window-inactive {
  background-color: gainsboro;
}

a {
  text-decoration: none;
  color: firebrick;
}

.content {
  padding: 1em 0;
}

.banner {
  background-color: firebrick;
  color: ivory;
  text-align: center;
  padding: 8em 0 0.75em 0;
}

.banner h1 {
  font-size: 6em;
  font-weight: bold;
  font-variant: normal;
  font-family: "Palatino Linotype";
  margin: 0 auto;
}

.nav-wrapper {
  height: 60px;
  background-color: firebrick;
}

.nav-wrapper nav {
  height: 60px;
  line-height: 60px;
  background-color: firebrick;
  font-family: "Palatino Linotype";
  padding: 0;
}

.nav-wrapper nav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 0.4em;
}

nav li a {
  opacity: 0.9;
  font-variant: small-caps;
  font-size: 1.75em;
  color: ivory;
}

h2 {
  font-weight: bold;
  font-size: 1.8em;
  color: firebrick;
  text-align: center;
  margin: 1.25em auto 0.5em auto;
  font-family: "Palatino Linotype", "Palatino";
  width: 25em;
  max-width: 90%;
}

p {
  font-size: 1.15em;
  line-height: 1.6em;
  width: 25em;
  max-width: 90%;
  margin: 0 auto 0.5em auto;
}

p a {
  font-weight: normal;
}
@media only screen and (max-width: 800px){
  .banner {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 0;
    h1 {font-size: 5em}
  }
  .content {padding-top:0}
  .nav-wrapper {
    padding-top: 0;
    #blog-top ul li {font-size: 1.25em;}
  }
  #padding {display: none}
}
@media only screen and (max-width: 400px){
  .banner h1 {font-size: 4em;}
}
