@import "scrollbar";

body {
  background-color: ivory;
  color: black;
  font-size: 16px;
  font-family: "Segoe UI";
  cursor: default;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Pseudo element: selection */

::selection {
  background-color: firebrick;
  color: ivory;
}
::-moz-selection {
  background-color: firebrick;
  color: ivory;
}

::selection:window-inactive {
  background-color: gainsboro;
}

a {
  text-decoration: none;
  color: firebrick;
}

.content {
  padding-top: 25px;
  padding-bottom: 50px;
}

.banner {
  background-color: firebrick;
  color: ivory;
  text-align: center;
  min-width: 500px;
  padding: 8em 0 0.75em 0;
}

.banner h1 {
  font-size: 6em;
  font-weight: bold;
  font-variant: normal;
  font-family: "Palatino Linotype";
  margin: 0;
}

.nav-wrapper {
  height: 60px;
  background-color: firebrick;
}

.nav-wrapper nav {
  height: 60px;
  line-height: 60px;
  background-color: firebrick;
  font-family: "Palatino Linotype";
  padding: 0;
}

.nav-wrapper nav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 0.4em;
}

nav li a {
  opacity: 0.9;
  font-variant: small-caps;
  font-size: 1.45em;
  color: ivory;
}

h2 {
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.8em;
  color: firebrick;
  text-align: center;
  font-family: "Palatino Linotype"
}

p {
  font-size: 1.15em;
  line-height: 1.6em;
  width: 30%;
  min-width: 500px;
  margin: 0 auto 0.5em auto;
}

p a {
  font-weight: normal;
}
