@import "reset";
@import "normalize.min";
@import "form";
@import "scrollbar";
@import "code";
@import "highlight";

@import "article";
@import "blog";
@import "euler";

body {
  background-color: ivory;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  cursor: default;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  text-decoration: none;
  color: firebrick;
  .MathJax {
  	.mo {color: firebrick;}
  	.mi {color: firebrick;}
  }
  .math {color: firebrick;}
}

.MathJax_Display, .MathJax_Preview {overflow-y: hidden}


p {margin-bottom: 1ex;}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.invisible {
  position: absolute;
  left: -9999px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Pseudo element: selection */

::selection {
  background-color: firebrick;
  color: ivory;
}
::-moz-selection {
  background-color: firebrick;
  color: ivory;
}

::selection:window-inactive {
  background-color: gainsboro;
}

/* Content  */

figure {
  margin: 1em 0;
  text-align: center;
  figcaption {
  	font-size: .8em;
  }
}

img {
  display: block;
  margin: 0.5em auto;
  max-width: 90%;
}

.line-block {
  margin-bottom: 1ex;
}

/* Sortable Tables */

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}
th[role=columnheader]:not(.no-sort):after {
  content: '';
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}

.nav-wrapper {
  font-family: "Palatino Linotype", "Palatino", serif;
  height: 60px;
  background-color: firebrick;
  nav {
    line-height: 60px;
    background-color: firebrick;
    padding: 0;
  }
  nav.fixed {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
  }
}

nav {
  text-align: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    padding: 0 0.4em;
    a {
      opacity: 0.9;
      font-variant: small-caps;
      font-size: 1.45em;
      color: ivory;
    }
  }
}
