::-webkit-scrollbar {
  width: 32px;
  height: 32px;
  background-color: ivory;
}

::-webkit-scrollbar-track {
  background-color: ivory;
}

::-webkit-scrollbar-thumb {
  min-height: 64px;
  border-radius: 32px;
  border-style: solid;
  border-width: 12px;
  border-color: ivory;
  background-color: firebrick;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: gainsboro;
}

.lntable::-webkit-scrollbar {
  border-radius: 8px;
  background-color: #fdf6e3;
}

.lntable::-webkit-scrollbar-track {
  background-color: #fdf6e3;
  border-radius: 0.75em;
}

.lntable::-webkit-scrollbar-thumb {
  border-color: #fdf6e3;
  background-color: #B58900;
}

.lntable::-webkit-scrollbar-thumb:window-inactive {
  background-color: gainsboro;
}

@media only screen and (pointer: coarse) {
  .MathJax_Display::-webkit-scrollbar {display: none}
  .MathJax_Display::-webkit-scrollbar-track {display: none}
  .MathJax_Display::-webkit-scrollbar-thumb {display: none}
  .MathJax_Display::-webkit-scrollbar-thumb:window-inactive {display: none}
}
