<h1 id="my-code">My Code</h1>
<div class="euler-code">
	<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">print</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="nb">sum</span><span class="p">([</span><span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span> <span class="k">for</span> <span class="n">_</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">()))]))[:</span><span class="mi">10</span><span class="p">])</span>
</pre></div>
</td></tr></table>
</div>
<p>This code has 0 comments and 0 empty lines.</p>

<h1 id="Difficulty">Difficulty</h1>
<p>Project Euler ranks this problem at 5% difficulty (out of 100%).</p>