<h1 id="my-code">My Code</h1>
<div class="euler-code">
	<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">math</span> <span class="kn">import</span> <span class="n">sqrt</span>

<span class="c1"># Sieve of Eratosthenes</span>
<span class="k">def</span> <span class="nf">primes</span><span class="p">(</span><span class="n">n</span><span class="p">):</span>
	<span class="n">primes</span> <span class="o">=</span> <span class="p">[]</span>
	<span class="n">sieve</span> <span class="o">=</span> <span class="p">[</span><span class="bp">True</span><span class="p">]</span> <span class="o">*</span> <span class="p">(</span><span class="n">n</span> <span class="o">+</span> <span class="mi">1</span><span class="p">)</span>
	<span class="k">for</span> <span class="n">p</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="n">n</span> <span class="o">+</span> <span class="mi">1</span><span class="p">):</span>
		<span class="k">if</span> <span class="n">sieve</span><span class="p">[</span><span class="n">p</span><span class="p">]:</span>
			<span class="n">primes</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">p</span><span class="p">)</span>
			<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="n">p</span> <span class="o">*</span> <span class="n">p</span><span class="p">,</span> <span class="n">n</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="n">p</span><span class="p">):</span>
				<span class="n">sieve</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">=</span> <span class="bp">False</span>
	<span class="k">return</span> <span class="n">primes</span>

<span class="c1"># Use trial division to test if n is prime</span>
<span class="k">def</span> <span class="nf">is_prime</span><span class="p">(</span><span class="n">n</span><span class="p">):</span>
	<span class="c1"># We don&#39;t want negative primes</span>
	<span class="k">if</span> <span class="n">n</span> <span class="o">&lt;=</span> <span class="mi">0</span><span class="p">:</span>
		<span class="k">return</span> <span class="bp">False</span>
	<span class="k">return</span> <span class="ow">not</span> <span class="nb">any</span><span class="p">([</span><span class="n">n</span><span class="o">%</span><span class="n">i</span><span class="o">==</span><span class="mi">0</span> <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span><span class="nb">int</span><span class="p">(</span><span class="n">sqrt</span><span class="p">(</span><span class="n">n</span><span class="p">))</span><span class="o">+</span><span class="mi">1</span><span class="p">)])</span>

<span class="n">N</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span>
<span class="n">P</span> <span class="o">=</span> <span class="n">primes</span><span class="p">(</span><span class="n">N</span><span class="p">)</span>
<span class="c1"># The maximal no. of primes generated so far</span>
<span class="n">COUNT</span> <span class="o">=</span> <span class="mi">0</span>
<span class="c1"># The coefficients that generate COUNT primes</span>
<span class="n">COEFF</span> <span class="o">=</span> <span class="p">[]</span>
<span class="k">for</span> <span class="n">a</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="n">N</span><span class="o">+</span><span class="mi">1</span><span class="p">,</span><span class="mi">2</span><span class="p">):</span>
	<span class="k">for</span> <span class="n">b</span> <span class="ow">in</span> <span class="n">P</span><span class="p">:</span>
		<span class="c1"># Iterate over +/- a,b</span>
		<span class="k">for</span> <span class="n">sgna</span> <span class="ow">in</span> <span class="p">[</span><span class="o">-</span><span class="mi">1</span><span class="p">,</span><span class="mi">1</span><span class="p">]:</span>
			<span class="k">for</span> <span class="n">sgnb</span> <span class="ow">in</span> <span class="p">[</span><span class="o">-</span><span class="mi">1</span><span class="p">,</span><span class="mi">1</span><span class="p">]:</span>
				<span class="c1"># No. of primes given by a,b</span>
				<span class="n">count</span> <span class="o">=</span> <span class="mi">0</span>
				<span class="c1"># The quadratic given by a,b</span>
				<span class="n">f</span> <span class="o">=</span> <span class="k">lambda</span> <span class="n">x</span><span class="p">:</span> <span class="n">x</span><span class="o">*</span><span class="n">x</span> <span class="o">+</span> <span class="n">sgna</span><span class="o">*</span><span class="n">a</span><span class="o">*</span><span class="n">x</span> <span class="o">+</span> <span class="n">sgnb</span><span class="o">*</span><span class="n">b</span>
				<span class="c1"># Keep going until f(x) is not prime</span>
				<span class="k">while</span> <span class="n">f</span><span class="p">(</span><span class="n">count</span><span class="p">)</span> <span class="o">&gt;</span> <span class="mi">0</span> <span class="ow">and</span> <span class="n">is_prime</span><span class="p">(</span><span class="n">f</span><span class="p">(</span><span class="n">count</span><span class="p">)):</span>
					<span class="n">count</span> <span class="o">+=</span> <span class="mi">1</span>
				<span class="c1"># Only keep the maximum so far</span>
				<span class="k">if</span> <span class="n">count</span> <span class="o">&gt;</span> <span class="n">COUNT</span><span class="p">:</span>
					<span class="n">COUNT</span> <span class="o">=</span> <span class="n">count</span>
					<span class="c1"># Update coefficients</span>
					<span class="n">COEFF</span> <span class="o">=</span> <span class="p">[</span><span class="n">sgna</span><span class="o">*</span><span class="n">a</span><span class="p">,</span><span class="n">sgnb</span><span class="o">*</span><span class="n">b</span><span class="p">]</span>
<span class="k">print</span><span class="p">(</span><span class="s2">&quot;{} {}&quot;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">COEFF</span><span class="p">[</span><span class="mi">0</span><span class="p">],</span><span class="n">COEFF</span><span class="p">[</span><span class="mi">1</span><span class="p">]))</span>
</pre></div>
</td></tr></table>
</div>
<p>This code has 11 comments and 3 empty lines.</p>

<h1 id="Performance">Performance</h1>
<p>My code solves the original Project Euler problem in <span style="font-weight: bold" class="medium">1.17&#8239;s</span> with a peak memory usage of <span style="font-weight: bold" class="fast">8.8&#8239;MB</span>.</p>

<h2 id="Difficulty">Difficulty</h2>
<p><a href="https://projecteuler.net/problem=27">Project Euler</a> ranks this problem at 5% difficulty (out of 100%). <a href="https://www.hackerrank.com/contests/projecteuler/challenges/euler027">HackerRank</a> classifies this problem as easy.</p>