<h1 id="my-code">My Code</h1>
<div class="euler-code">
	<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">itertools</span> <span class="kn">import</span> <span class="n">combinations_with_replacement</span>
<span class="kn">from</span> <span class="nn">collections</span> <span class="kn">import</span> <span class="n">Counter</span>
<span class="n">N</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span>

<span class="n">DIGITS</span> <span class="o">=</span> <span class="p">{}</span>
<span class="c1"># Correspondence from x^N -&gt; x</span>
<span class="k">for</span> <span class="n">x</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">10</span><span class="p">):</span>
	<span class="n">DIGITS</span><span class="p">[</span><span class="n">x</span><span class="o">**</span><span class="n">N</span><span class="p">]</span> <span class="o">=</span> <span class="n">x</span>

<span class="n">ans</span> <span class="o">=</span> <span class="mi">0</span>
<span class="c1"># No answer has more than 6 digits</span>
<span class="k">for</span> <span class="n">k</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span><span class="mi">7</span><span class="p">):</span>
	<span class="c1"># Choose k elements from {0^N,...9^N} with replacement</span>
	<span class="k">for</span> <span class="n">candidate</span> <span class="ow">in</span> <span class="n">combinations_with_replacement</span><span class="p">(</span><span class="n">DIGITS</span><span class="p">,</span><span class="n">k</span><span class="p">):</span>
		<span class="c1"># Get multiset of N-th roots of elements of combination</span>
		<span class="n">digits_used</span> <span class="o">=</span> <span class="n">Counter</span><span class="p">(</span><span class="nb">map</span><span class="p">(</span><span class="k">lambda</span> <span class="n">x</span><span class="p">:</span> <span class="n">DIGITS</span><span class="p">[</span><span class="n">x</span><span class="p">],</span><span class="n">candidate</span><span class="p">))</span>
		<span class="c1"># Candidate sum</span>
		<span class="n">S</span> <span class="o">=</span> <span class="nb">str</span><span class="p">(</span><span class="nb">sum</span><span class="p">(</span><span class="n">candidate</span><span class="p">))</span>
		<span class="c1"># Get multiset of digits of candidate sum</span>
		<span class="n">powers_used</span> <span class="o">=</span> <span class="n">Counter</span><span class="p">(</span><span class="nb">map</span><span class="p">(</span><span class="nb">int</span><span class="p">,</span><span class="n">S</span><span class="p">))</span>
		<span class="k">if</span> <span class="n">digits_used</span> <span class="o">==</span> <span class="n">powers_used</span><span class="p">:</span>
			<span class="n">ans</span> <span class="o">+=</span> <span class="nb">int</span><span class="p">(</span><span class="n">S</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">ans</span><span class="p">)</span>
</pre></div>
</td></tr></table>
</div>
<p>This code has 6 comments and 2 empty lines.</p>
<h1 id="Performance">Performance</h1>
<p>My code solves the original Project Euler problem in <span style="font-weight: bold" class="fast">less than 0.1&#8239;s</span> with a peak memory usage of <span style="font-weight: bold" class="fast">9.1&#8239;MB</span>.</p>

<h2 id="Difficulty">Difficulty</h2>
<p><a href="https://projecteuler.net/problem=30">Project Euler</a> ranks this problem at 5% difficulty (out of 100%). <a href="https://www.hackerrank.com/contests/projecteuler/challenges/euler030">HackerRank</a> classifies this problem as easy.</p>