<h1 id="my-code">My Code</h1>
<div class="euler-code">
	<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">count</span><span class="p">(</span><span class="n">coins</span><span class="p">,</span><span class="n">n</span><span class="p">):</span>
	<span class="c1"># Initialize dp array</span>
	<span class="n">dp</span> <span class="o">=</span> <span class="p">[</span><span class="mi">0</span> <span class="k">for</span> <span class="n">_</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="n">n</span><span class="o">+</span><span class="mi">1</span><span class="p">)]</span>
	<span class="c1"># There is only one way to make nothing</span>
	<span class="n">dp</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">=</span> <span class="mi">1</span>
	<span class="k">for</span> <span class="n">coin</span> <span class="ow">in</span> <span class="n">coins</span><span class="p">:</span>
		<span class="k">for</span> <span class="n">val</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="n">coin</span><span class="p">,</span><span class="n">n</span><span class="o">+</span><span class="mi">1</span><span class="p">):</span>
			<span class="n">dp</span><span class="p">[</span><span class="n">val</span><span class="p">]</span> <span class="o">=</span> <span class="p">(</span><span class="n">dp</span><span class="p">[</span><span class="n">val</span><span class="p">]</span> <span class="o">+</span> <span class="n">dp</span><span class="p">[</span><span class="n">val</span><span class="o">-</span><span class="n">coin</span><span class="p">])</span> <span class="o">%</span> <span class="mi">1000000007</span>
	<span class="k">return</span> <span class="n">dp</span>

<span class="n">COINS</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span><span class="mi">2</span><span class="p">,</span><span class="mi">5</span><span class="p">,</span><span class="mi">10</span><span class="p">,</span><span class="mi">20</span><span class="p">,</span><span class="mi">50</span><span class="p">,</span><span class="mi">100</span><span class="p">,</span><span class="mi">200</span><span class="p">]</span>
<span class="c1"># N &lt;= 10^5</span>
<span class="n">COUNT</span> <span class="o">=</span> <span class="n">count</span><span class="p">(</span><span class="n">COINS</span><span class="p">,</span><span class="nb">int</span><span class="p">(</span><span class="mf">1e5</span><span class="p">))</span>
<span class="n">T</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span>
<span class="k">for</span> <span class="n">_</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="n">T</span><span class="p">):</span>
	<span class="n">N</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span>
	<span class="k">print</span><span class="p">(</span><span class="n">COUNT</span><span class="p">[</span><span class="n">N</span><span class="p">])</span>
</pre></div>
</td></tr></table>
</div>
<p>This code has 3 comments and 1 empty lines.</p>
<h1 id="Performance">Performance</h1>
<p>My code solves the original Project Euler problem in <span style="font-weight: bold" class="fast">152&#8239;ms</span> with a peak memory usage of <span style="font-weight: bold" class="fast">12.5&#8239;MB</span>.</p>

<h2 id="Difficulty">Difficulty</h2>
<p><a href="https://projecteuler.net/problem=31">Project Euler</a> ranks this problem at 5% difficulty (out of 100%). <a href="https://www.hackerrank.com/contests/projecteuler/challenges/euler031">HackerRank</a> classifies this problem as easy.</p>