<h1 id="my-code">My Code</h1>
<div class="euler-code">
	<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="c1"># Implement eq. (2)</span>
<span class="k">def</span> <span class="nf">next_convergent</span><span class="p">(</span><span class="n">p</span><span class="p">,</span><span class="n">q</span><span class="p">):</span>
	<span class="k">return</span> <span class="n">p</span><span class="o">+</span><span class="mi">2</span><span class="o">*</span><span class="n">q</span><span class="p">,</span><span class="n">p</span><span class="o">+</span><span class="n">q</span>

<span class="n">p</span><span class="p">,</span><span class="n">q</span> <span class="o">=</span> <span class="mi">1</span><span class="p">,</span><span class="mi">1</span>
<span class="n">N</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="n">N</span><span class="o">+</span><span class="mi">1</span><span class="p">):</span>
	<span class="n">p</span><span class="p">,</span><span class="n">q</span> <span class="o">=</span> <span class="n">next_convergent</span><span class="p">(</span><span class="n">p</span><span class="p">,</span><span class="n">q</span><span class="p">)</span>
	<span class="c1"># Does num have more digits than den?</span>
	<span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="n">p</span><span class="p">))</span> <span class="o">&gt;</span> <span class="nb">len</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="n">q</span><span class="p">)):</span>
		<span class="k">print</span><span class="p">(</span><span class="n">i</span><span class="p">)</span>
</pre></div>
</td></tr></table>
</div>
<p>This code has 2 comments and 1 empty lines.</p>
<h1 id="Performance">Performance</h1>
<p>My code solves the original Project Euler problem in <span style="font-weight: bold" class="fast">less than 0.1&#8239;s</span> with a peak memory usage of <span style="font-weight: bold" class="fast">8.8&#8239;MB</span>.</p>

<h2 id="Difficulty">Difficulty</h2>
<p><a href="https://projecteuler.net/problem=57">Project Euler</a> ranks this problem at 5% difficulty (out of 100%). <a href="https://www.hackerrank.com/contests/projecteuler/challenges/euler057">HackerRank</a> classifies this problem as easy.</p>