<h1 id="my-code">My Code</h1>
<div class="euler-code">
	<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="n">T</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span>
<span class="k">for</span> <span class="n">_</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="n">T</span><span class="p">):</span>
	<span class="n">N</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="nb">input</span><span class="p">())</span>
	<span class="n">ans</span> <span class="o">=</span> <span class="o">-</span><span class="mi">1</span>
	<span class="c1"># a can&#39;t be more than a third the perimeter</span>
	<span class="k">for</span> <span class="n">a</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="n">N</span><span class="o">//</span><span class="mi">3</span><span class="p">):</span>
		<span class="n">b</span> <span class="o">=</span> <span class="p">(</span><span class="n">N</span><span class="o">**</span><span class="mi">2</span> <span class="o">-</span> <span class="mi">2</span><span class="o">*</span><span class="n">a</span><span class="o">*</span><span class="n">N</span><span class="p">)</span><span class="o">/</span><span class="p">(</span><span class="mi">2</span><span class="o">*</span><span class="n">N</span> <span class="o">-</span> <span class="mi">2</span><span class="o">*</span><span class="n">a</span><span class="p">)</span>
		<span class="n">c</span> <span class="o">=</span> <span class="n">N</span> <span class="o">-</span> <span class="n">a</span> <span class="o">-</span> <span class="n">b</span>
		<span class="c1"># Check that Pythagorean identity holds</span>
		<span class="k">if</span> <span class="n">b</span> <span class="o">==</span> <span class="nb">int</span><span class="p">(</span><span class="n">b</span><span class="p">)</span> <span class="ow">and</span> <span class="n">c</span> <span class="o">==</span> <span class="nb">int</span><span class="p">(</span><span class="n">c</span><span class="p">)</span> <span class="ow">and</span> <span class="n">c</span><span class="o">**</span><span class="mi">2</span> <span class="o">==</span> <span class="n">a</span><span class="o">**</span><span class="mi">2</span> <span class="o">+</span> <span class="n">b</span><span class="o">**</span><span class="mi">2</span><span class="p">:</span>
			<span class="c1"># Keep maximal product</span>
			<span class="n">ans</span> <span class="o">=</span> <span class="nb">max</span><span class="p">(</span><span class="n">ans</span><span class="p">,</span><span class="nb">int</span><span class="p">(</span><span class="n">a</span><span class="o">*</span><span class="n">b</span><span class="o">*</span><span class="n">c</span><span class="p">))</span>
	<span class="k">print</span><span class="p">(</span><span class="n">ans</span><span class="p">)</span>
</pre></div>
</td></tr></table>
</div>
<p>My code has 3 comments and 0 empty lines.</p>

<h1 id="Performance">Performance</h1>
<p>My code solves the original Project Euler problem in <span style="font-weight: bold" class="fast">less than 0.1&#8239;s</span>.</p>

<h2 id="Difficulty">Difficulty</h2>
<p><a href="https://projecteuler.net/problem=9">Project Euler</a> ranks this problem at 5% difficulty (out of 100%).</p>