<!DOCTYPE html>
<html>
  <head>
    {{- partial "header/meta.html"  . -}}
    <title>{{ block "title" . -}}{{ .Title | default .Site.Title }} &ndash; {{ .Site.Title }}{{- end -}}</title>
    {{- partial "header/favicons.html" . }}
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
    {{- partial "header/mathjax.html" . -}}
    {{ if in .Params.categories "chemistry" }}
    {{- partial "header/mathjax-chemistry.html" -}}
    {{ end }}
    {{- partial "header/google-analytics.html" . -}}
  </head>
  <body>
    <div class="nav-wrapper">
      <nav id="blog-top" class="fixed">
        <ul>
          <li><a href="{{ "./" | absURL }}">about</a></li>
          <li><a href="{{ "./blog" | absURL }}">blog</a></li>
          <li><a href="{{ "./euler" | absURL }}">project euler</a></li>
        </ul>
      </nav>
    </div>
    {{- block "main" . }}{{- end }}
{{- partial "footer/main.html" . -}}
