{{ define "title" }}
{{- $currentSec := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
  {{ title $currentSec }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{- $currentSec := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
  <article class="{{if ne $currentSec "euler" }}section{{end}} article {{if eq $currentSec "euler"}}euler{{end}}">
     <div id="content">
      <section>
        {{ if eq $currentSec "blog" }}
          {{- partial "blog-listing.html" . -}}
        {{ else if eq $currentSec "euler" }}
          {{- partial "euler/progress.html" . -}}
        {{ else }}
          {{- partial "category-listing.html" . -}}
        {{ end }}
      </section>
      </div>
  </article>
{{ end }}
