{{ define "title" }}
  {{ $currentSec := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
  {{ title $currentSec }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <article class="section article">
    {{ partial "blog-header.html" . -}}
    <div id="content">
      <section>
        {{ $currentSec := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
        {{ if eq $currentSec "blog" }}
          {{- partial "blog-listing.html" . -}}
        {{ else if eq $currentSec "euler" }}
          {{- partial "euler/home-progress.html" -}}
        {{ else }}
          {{- partial "category-listing.html" . -}}
        {{ end }}  
      </section>
      </div>
  </article>
{{ end }}
