{{ define "title" }}
{{ title .Section }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<article {{if eq .Section "euler"}}style="margin:auto;"{{end}} class="article {{ if eq .Section "blog" }}blog{{ end }} {{if ne .Section "euler"}}section{{else}} euler{{end}}">
  <div id="content">
    <section>
      {{ if eq .Section "euler" }}
      {{- partial "euler/progress.html" . -}}
      {{ else if eq .Section "blog" }}
      {{- partial "blog-listing.html" . -}}
      {{ else }}
      {{- partial "category-listing.html" . -}}
      {{ end }}
    </section>
  </div>
</article>
{{ end }}
