{{ define "main" }}
<article class="article">
  <header>
    <h1 class="title">
      <a href="{{ .Permalink }}" rel="bookmark" title ="Link to {{ .Params.shortttitle | default .Params.title }}">{{ .Params.shortttitle | default .Params.title }}</a>
    </h1>
    {{ if isset .Params "subtitle" }}
      <h1 class="subtitle">
        <a href="{{ .Permalink }}" rel="bookmark" title ="Link to {{ .Params.shortttitle | default .Params.title }}">{{ .Params.subtitle | default .Params.title }}</a>
      </h1>
    {{ end }}
    <address class="author">{{ .Site.Params.author }}</address>
    <div id="textbox">
      <p style="font-weight: bold;" class="alignleft">
        <a href="{{ .Site.BaseURL }}/{{ .Section }}/" title="Posts in section {{ .Section }}">{{ .Section }}</a>&nbsp;
      </p>
      <p class="date aligncenter">{{ dateFormat "2 Jan 2006" .Date }}</p>
      <strong style="font-variant: normal;" class="alignright">{{- partial "taglist.html" . -}}</strong>
    </div>
    <div style="clear: both;"></div>​
  </header>
  {{ .Content }}
  {{- partial "toolbar.html" . -}}
</article>
{{ end }}