code {
  background-color: #fdf6e3;
  color: #cb4b16;
  padding: 1px 2px;
}

.highlighttable {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  border-radius: 0.75em;
  background-color: #fdf6e3;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
}

td.linenos {
  border-right: 1px solid #93a1a1;
  padding-left: 7px;
  padding-right: 4px;
  white-space: nowrap;
  color: #93a1a1;
}

td.code {
  width: 99%;
  padding: 0;
}

.code pre {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.highlight {
  padding: 0;
  border-radius: 0.75em;
  margin: 10px 0;
  overflow-x: auto;
}

.euler-code pre {
  line-height: 1.3em !important;
}

.highlight pre {
  line-height: 0.725em;
  padding: 15px 0 5px 15px;
}

.linenodiv pre{
  line-height: 0.725em;
}
