table.euler {
	margin: 1em 0;
	border-collapse: separate;
	border-spacing: 2px;
}

table.map {
	table-layout: fixed;
	width: 100%
}

table.legend {
	font-size: 95%;
}

table.euler td {
	font-weight: bold;
	background-clip: padding-box;
		-moz-background-clip: padding;
		-webkit-background-clip: padding;
    border-radius: 0.25vw;
    text-align: center;
    vertical-align: middle;
}

table.legend td {
	min-width: 6em;
	height: 1.5em;
}

table.legend td.text {
	text-align: left;
	padding-left: 0.5em;
	font-weight: normal;
}

table.map td {
	line-height: 1.25em;
	font-size: 1vw;
}

table.map td a {
	width: 100%;
	display: block;
	color: inherit;
}

td.text {
	background-color: ivory;
	color: black;
	font-weight: normal;
}

td.complete {
	background-color: green;
	border: 0.075vw solid darkgreen;
	color: #DDFFDD;
}

td.hackerrank-imperfect {
	background-color: #DDFFDD;
	border: 0.075vw solid green;
	color: green;
}

td.euler-only {
	background-color: #9999FF;
	border: 0.075vw solid #333;
	color: #333;
}

td.tle {
	background-color: khaki;
	border: 0.075vw solid #6d660a;
	color: #6d660a;
}

td.unsolved {
	background-color: #ededed;
	border: 0.075vw solid dimgray;
	color: gray;
}

span.fast {
	color: #2db92d;
}

span.medium {
	color: green;
}

span.slow {
	color: #B58900;
}

span.tooslow {
	color: crimson;
}