/* Imports */
@import url("reset.css");
@import url("scrollbar.css");
@import url("normalize/normalize.min.css");
@import url("prism.css");
/* Body */
body {
  background-color: ivory;
  color: black;
  font-size: 15px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  cursor: default;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  text-decoration: none;
  color: firebrick;
}

a .MathJax .mo, a .MathJax .mi, a .math {
  color: firebrick;
}

code a {
  color: inherit;
}

kbd {
  margin: 1px;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px dimgray;
  background-color: black;
  color: ivory;
}

p { 
  margin-bottom: 1ex; 
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.invisible {
    position: absolute;
    left: -9999px;
}

/* Pseudo element: selection */

::selection {
  background-color: firebrick;
  color: ivory;
}
::-moz-selection {
  background-color: firebrick;
  color: ivory;
}

::selection:window-inactive {
  background-color: gainsboro;
}

/* Content  */

body {
  counter-reset: figures;
}

figure {
  margin: 1em 0;
  text-align: center;
  counter-increment: figures;
}
figure img {
  border-radius: 8px;
}
figure figcaption {
  font-size: .8em;
}
figure figcaption:before {
  font-weight: bold;
  content: 'Figure ' counter(figures) '. ';
}

img {
  border-radius: 8px;
  padding: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

/* Contact Form */
input, textarea, button {
  border-style: solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: firebrick;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  padding: 10px;
  border-width: 2px;
  margin-bottom: 10px;
}

input {
  margin-top: 25px;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
}

button {
  background-color: firebrick;
  color: ivory;
  font-weight: bold;
  padding: 10px 25px;
  border-style: none;
}

button:hover {
  background-color: #711515;
  cursor: pointer;
}