::-webkit-scrollbar {
  width: 32px;
  height: 32px;
  background-color: ivory;
}

::-webkit-scrollbar-track {
  background-color: ivory;
}

::-webkit-scrollbar-thumb {
  min-height: 64px;
  border-radius: 32px;
  border-style: solid;
  border-width: 12px;
  border-color: ivory;
  background-color: firebrick;
}

.highlight::-webkit-scrollbar {
  border-radius: 8px;
  background-color: #272822;
}

.highlight::-webkit-scrollbar-track {
  background-color: #272822;
  border-radius: 0.3em;
}

.highlight::-webkit-scrollbar-thumb {
  border-color: #272822;
}