<meta name="msapplication-TileImage"           content="{{ relURL "/img/favicons/mstile-144x144.png"         }}" />
<meta name="msapplication-config"              content="{{ relURL "/img/favicons/browserconfig.xml"          }}" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color"             content="#ffffff" />
<link rel="apple-touch-icon"      sizes="180x180" href="{{ relURL "/img/favicons/apple-touch-icon.png"       }}" />
<link rel="icon" type="image/png" sizes="32x32"   href="{{ relURL "/img/favicons/favicon-32x32.png"          }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ relURL "/img/favicons/android-chrome-192x192.png" }}" />
<link rel="icon" type="image/png" sizes="16x16"   href="{{ relURL "/img/favicons/favicon-16x16.png"          }}" />
<link rel="manifest"                              href="{{ relURL "/img/favicons/manifest.json"              }}" />
<link rel="mask-icon"  color="#5bbad5"            href="{{ relURL "/img/favicons/safari-pinned-tab.svg"      }}" />
<link rel="shortcut icon"                         href="{{ relURL "/img/favicons/favicon.ico"                }}" />