<h1 id="progress">Progress</h1>
<p><emph>Click on a problem's number to see my solution for it.</emph></p>
<table class="legend euler">
	<tr>
		<td><div class="euler-circle complete"></td></div>
		<td class="text">
			Solution solves problem correctly on Project Euler and scores 100% on Hackerrank.
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle hackerrank-imperfect"></td></div>
		<td class="text">
			Solution scores less than 100% on Hackerrank, but still solves the original problem.
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle euler-only"></td></div>
		<td class="text">
			Solution relevant only to Project Euler (problem not on Hackerrank or changed too much).
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle tle"></td></div>
		<td class="text">
			Solution exceeds either the given time limit of 60 seconds or memory limit of 256 MB.
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle unsolved"></td></div>
		<td class="text">
			Problem has not been solved.
		</td>
	</tr>
</table>
{% for tab in heat %}
	<table class="map euler">
		{% for row in tab %}
			<tr>
				{% for entry in row %}<td class="{{ entry.cls }}">{% if entry.link %}<a href="{{ SITEURL }}/euler/{{ entry.num }}/" title="{{ entry.link }}">{{ entry.num }}{% else %}{{ entry.num }}{% endif %}{% if entry.link %}</a>{% endif %}</td>
				{% endfor %}
			</tr>{% endfor %}
	</table>
{% endfor %}