table.euler {
	border-collapse: separate;
	border-spacing: 2px;
	margin: 1em;
}

table.map {
	table-layout: fixed;
	width: 925px;
}

table.legend {
	font-size: 95%;
}

table.euler td {
	font-size: 100%;
	font-weight: bold;
	background-clip: padding-box;
		-moz-background-clip: padding;
		-webkit-background-clip: padding;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

table.legend td {
	min-width: 6em;
	height: 1.5em;
}

table.legend td.text {
	text-align: left;
	padding-left: 0.5em;
	font-weight: normal;
}

td.text {
	background-color: ivory;
	color: black;
	font-weight: normal;
}

td.complete {
	background-color: green;
	border: 1px solid darkgreen;
	color: #DDFFDD;
}

td.hackerrank-imperfect {
	background-color: #DDFFDD;
	border: 1px solid green;
	color: green;
}

td.euler-only {
	background-color: #9999FF;
	border: 1px solid #333;
	color: #333;
}

td.tle {
	background-color: khaki;
	border: 1px solid #6d660a;
	color: #6d660a;
}

td.unsolved {
	background-color: #ededed;
	border: 1px solid dimgray;
	color: gray;
}