<header>
  <h1 class="title">
    <a href="{{ .Permalink }}" rel="bookmark" title ="Link to {{ .Params.shortttitle | default .Params.title }}">{{ .Params.shorttitle | default .Params.title }}</a>
  </h1>
  {{ if isset .Params "subtitle" }}
    <h1 class="subtitle">
      <a href="{{ .Permalink }}" rel="bookmark" title ="Link to {{ .Params.shortttitle | default .Params.title }}">{{ .Params.subtitle | default .Params.title }}</a>
    </h1>
  {{ end }}
  <div id="textbox">
    <p style="font-weight: bold;" class="alignleft">
      <a href="{{ .Site.BaseURL }}/{{ index .Params.categories 0 }}/" title="Posts in section {{ index .Params.categories 0 }}">{{ index .Params.categories 0 }}</a>&nbsp;
    </p>
    <p class="date aligncenter">{{ dateFormat "2 January 2006" .Date }}</p>
    <strong style="font-variant: normal;" class="alignright">{{- partial "taglist.html" . -}}</strong>
  </div>
  <div style="clear: both;"></div>
</header>
