<header style="margin-top: 100px">
  <h1 id="blog-header" class="title">
    <a href="/blog/">Gautam Manohar</a>
  </h1>
  <nav id="blog-header">
    <ul>
      <li>
        <strong><a title="Other projects I'm working on" href="https://github.com/gcman">GitHub</a></strong>
      </li>
      <li>
        <strong><a title="Return to the site home page" href="{{ .Site.BaseURL }}">Home Page</a></strong>
      </li>
      <li>
        <strong><a title="Feel free to send me a message!" href="{{ .Site.BaseURL }}/contact-me/">Contact</a></strong>
      </li>
    </ul>
  </nav>
</header>
