<table id="next-prev">
  <tr>
    {{ with .PrevInSection }}
    <td class="left arrow">&#8592; older</td>
    {{end}}
    {{with.NextInSection}}
    <td class="right arrow">newer &#8594;</td>
    {{end}}
  </tr>
  <tr>
    <td class="left">
      {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
    </td>
    <td class="right">
      {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
    </td>
  </tr>
</table>
