<table id="next-prev">
  <tr>
    <td class="left arrow">
      {{ with .PrevInSection }}
      &#8592; older
      {{end}}
    </td>
    <td class="right arrow">
      {{with.NextInSection}}
      newer &#8594;
      {{end}}
    </td>
  </tr>
  <tr>
    <td class="left">
      {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
    </td>
    <td class="right">
      {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
    </td>
  </tr>
</table>
