<table id="next-prev">
  <tr>
    <td class="left arrow">
      {{ with .PrevInSection }}
      <a style="color: black" href={{.Permalink}}>&#8592; older</a>
      {{end}}
    </td>
    <td class="right arrow">
      {{with.NextInSection}}
      <a style="color: black" href={{.Permalink}}>newer &#8594; </a>
      {{end}}
    </td>
  </tr>
  <tr>
    <td class="left">
      {{ with .PrevInSection }}
      <a href="{{.Permalink}}">{{.Title}}</a>
      {{ end }}
    </td>
    <td class="right">
      {{ with .NextInSection }}
      <a href="{{.Permalink}}">{{.Title}}</a>
      {{ end }}
    </td>
  </tr>
</table>
