<div class="side">
  <section class="info">
    <p class="date">Posted {{ dateFormat "2 January 2006" .Date }}</p>
    <p class="category">
      {{ range .Params.categories }}
      <a href="{{ $.Site.BaseURL }}/categories/{{ . }}/" title="Posts under category {{ . }}">{{ . }}</a>&nbsp;
      {{ end }}
    <p>
    <p>{{- partial "taglist.html" . -}}<p>
  </section>
  <section class="recent">
  <h3>Recent Posts</h3>
  <ul>
  {{- range first 5 (where .Site.Pages "Kind" "page") -}}
      <li><a href="{{ .Permalink }}">{{replace .Title "Project Euler" "Euler"}}</a></li>
  {{- end -}}
  </ul>
  </section>
</div>
