<div class="side">
  <section id="textbox">
    <p class="date">Posted {{ dateFormat "2 January 2006" .Date }}</p>
    <p class="category">
      {{ range .Params.categories }}
      <a href="{{ $.Site.BaseURL }}/{{ . }}/" title="Posts in section {{ . }}">{{ . }}</a>&nbsp;
      {{ end }}
    <p>
    <p>{{- partial "taglist.html" . -}}<p>
  </section>
  <section>
  <h2>Recent Posts</h2>
  <ul class="recent">
  {{- range first 5 (where .Site.Pages "Kind" "page") -}}
      <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
  {{- end -}}
  </ul>
  </section>
</div>
