<h1 id="progress">Progress</h1>
<p><emph>Click on a problem's number to see my solution for it.</emph></p>
<table class="legend euler">
	<tr>
		<td class="complete">dark green</td>
		<td class="text">
			Solution solves problem correctly on Project Euler and scores 100% on Hackerrank.
		</td>
	</tr>
	<tr>
		<td class="hackerrank-imperfect">light green</td>
		<td class="text">
			Solution scores less than 100% on Hackerrank, but still solves the original problem.
		</td>
	</tr>
	<tr>
		<td class="euler-only">blue</td>
		<td class="text">
			Solution relevant only to Project Euler (problem not on Hackerrank or changed too much).
		</td>
	</tr>
	<tr>
		<td class="tle">yellow</td>
		<td class="text">
			Solution exceeds either the given time limit of 60 seconds or memory limit of 256 MB.
		</td>
	</tr>
	<tr>
		<td class="unsolved">grey</td>
		<td class="text">
			Problem has not been solved.
		</td>
	</tr>
</table>

	<table class="map euler">
		
			<tr>
				<td class="complete"><a href="/euler/1/" title="Multiples of 3 and 5 (Difficulty: 5%)">1</a></td>
				<td class="complete"><a href="/euler/2/" title="Even Fibonacci numbers (Difficulty: 5%)">2</a></td>
				<td class="complete"><a href="/euler/3/" title="Largest prime factor (Difficulty: 5%)">3</a></td>
				<td class="complete"><a href="/euler/4/" title="Largest palindrome product (Difficulty: 5%)">4</a></td>
				<td class="complete"><a href="/euler/5/" title="Smallest multiple (Difficulty: 5%)">5</a></td>
				<td class="complete"><a href="/euler/6/" title="Sum square difference (Difficulty: 5%)">6</a></td>
				<td class="complete"><a href="/euler/7/" title="10001st prime (Difficulty: 5%)">7</a></td>
				<td class="complete"><a href="/euler/8/" title="Largest product in a series (Difficulty: 5%)">8</a></td>
				<td class="complete"><a href="/euler/9/" title="Special Pythagorean triplet (Difficulty: 5%)">9</a></td>
				<td class="complete"><a href="/euler/10/" title="Summation of primes (Difficulty: 5%)">10</a></td>
				<td class="complete"><a href="/euler/11/" title="Largest product in a grid (Difficulty: 5%)">11</a></td>
				<td class="complete"><a href="/euler/12/" title="Highly divisible triangular number (Difficulty: 5%)">12</a></td>
				<td class="complete"><a href="/euler/13/" title="Large sum (Difficulty: 5%)">13</a></td>
				<td class="complete"><a href="/euler/14/" title="Longest Collatz sequence (Difficulty: 5%)">14</a></td>
				<td class="complete"><a href="/euler/15/" title="Lattice paths (Difficulty: 5%)">15</a></td>
				<td class="complete"><a href="/euler/16/" title="Power digit sum (Difficulty: 5%)">16</a></td>
				<td class="complete"><a href="/euler/17/" title="Number letter counts (Difficulty: 5%)">17</a></td>
				<td class="complete"><a href="/euler/18/" title="Maximum path sum I (Difficulty: 5%)">18</a></td>
				<td class="hackerrank-imperfect"><a href="/euler/19/" title="Counting Sundays (Difficulty: 5%)">19</a></td>
				<td class="unsolved">20</td>
				
			</tr>
			<tr>
				<td class="complete"><a href="/euler/21/" title="Amicable numbers (Difficulty: 5%)">21</a></td>
				<td class="unsolved">22</td>
				<td class="complete"><a href="/euler/23/" title="Non-abundant sums (Difficulty: 5%)">23</a></td>
				<td class="unsolved">24</td>
				<td class="complete"><a href="/euler/25/" title="1000-digit Fibonacci number (Difficulty: 5%)">25</a></td>
				<td class="unsolved">26</td>
				<td class="complete"><a href="/euler/27/" title="Quadratic primes (Difficulty: 5%)">27</a></td>
				<td class="complete"><a href="/euler/28/" title="Number spiral diagonals (Difficulty: 5%)">28</a></td>
				<td class="unsolved">29</td>
				<td class="unsolved">30</td>
				<td class="unsolved">31</td>
				<td class="unsolved">32</td>
				<td class="unsolved">33</td>
				<td class="unsolved">34</td>
				<td class="unsolved">35</td>
				<td class="unsolved">36</td>
				<td class="unsolved">37</td>
				<td class="unsolved">38</td>
				<td class="unsolved">39</td>
				<td class="unsolved">40</td>
				
			</tr>
			<tr>
				<td class="unsolved">41</td>
				<td class="unsolved">42</td>
				<td class="unsolved">43</td>
				<td class="unsolved">44</td>
				<td class="unsolved">45</td>
				<td class="unsolved">46</td>
				<td class="unsolved">47</td>
				<td class="unsolved">48</td>
				<td class="unsolved">49</td>
				<td class="unsolved">50</td>
				<td class="unsolved">51</td>
				<td class="unsolved">52</td>
				<td class="unsolved">53</td>
				<td class="unsolved">54</td>
				<td class="unsolved">55</td>
				<td class="unsolved">56</td>
				<td class="unsolved">57</td>
				<td class="unsolved">58</td>
				<td class="unsolved">59</td>
				<td class="unsolved">60</td>
				
			</tr>
			<tr>
				<td class="unsolved">61</td>
				<td class="unsolved">62</td>
				<td class="unsolved">63</td>
				<td class="unsolved">64</td>
				<td class="unsolved">65</td>
				<td class="unsolved">66</td>
				<td class="unsolved">67</td>
				<td class="unsolved">68</td>
				<td class="unsolved">69</td>
				<td class="unsolved">70</td>
				<td class="unsolved">71</td>
				<td class="unsolved">72</td>
				<td class="unsolved">73</td>
				<td class="unsolved">74</td>
				<td class="unsolved">75</td>
				<td class="unsolved">76</td>
				<td class="unsolved">77</td>
				<td class="unsolved">78</td>
				<td class="unsolved">79</td>
				<td class="unsolved">80</td>
				
			</tr>
			<tr>
				<td class="unsolved">81</td>
				<td class="unsolved">82</td>
				<td class="unsolved">83</td>
				<td class="unsolved">84</td>
				<td class="unsolved">85</td>
				<td class="unsolved">86</td>
				<td class="unsolved">87</td>
				<td class="unsolved">88</td>
				<td class="unsolved">89</td>
				<td class="unsolved">90</td>
				<td class="unsolved">91</td>
				<td class="unsolved">92</td>
				<td class="unsolved">93</td>
				<td class="unsolved">94</td>
				<td class="unsolved">95</td>
				<td class="unsolved">96</td>
				<td class="unsolved">97</td>
				<td class="unsolved">98</td>
				<td class="unsolved">99</td>
				<td class="unsolved">100</td>
				
			</tr>
	</table>

</aside>