<h1 id="progress">Progress</h1>
<p><emph>Click on a problem's number to see my solution for it.</emph></p>
<table class="legend euler">
	<tr>
		<td><div class="euler-circle complete"></td></div>
		<td class="text">
			Solution solves problem correctly on Project Euler and scores 100% on Hackerrank.
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle hackerrank-imperfect"></td></div>
		<td class="text">
			Solution scores less than 100% on Hackerrank, but still solves the original problem.
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle euler-only"></td></div>
		<td class="text">
			Solution relevant only to Project Euler (problem not on Hackerrank or changed too much).
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle tle"></td></div>
		<td class="text">
			Solution exceeds either the given time limit of 60 seconds or memory limit of 256 MB.
		</td>
	</tr>
	<tr>
		<td><div class="euler-circle unsolved"></td></div>
		<td class="text">
			Problem has not been solved.
		</td>
	</tr>
</table>

	<table class="map euler">
		
			<tr>
				<td class="complete"><a href="/euler/1/" title="Multiples of 3 and 5 (Difficulty: 5%)">1</a></td>
				<td class="complete"><a href="/euler/2/" title="Even Fibonacci numbers (Difficulty: 5%)">2</a></td>
				<td class="complete"><a href="/euler/3/" title="Largest prime factor (Difficulty: 5%)">3</a></td>
				<td class="complete"><a href="/euler/4/" title="Largest palindrome product (Difficulty: 5%)">4</a></td>
				<td class="complete"><a href="/euler/5/" title="Smallest multiple (Difficulty: 5%)">5</a></td>
				<td class="complete"><a href="/euler/6/" title="Sum square difference (Difficulty: 5%)">6</a></td>
				<td class="complete"><a href="/euler/7/" title="10001st prime (Difficulty: 5%)">7</a></td>
				<td class="complete"><a href="/euler/8/" title="Largest product in a series (Difficulty: 5%)">8</a></td>
				<td class="complete"><a href="/euler/9/" title="Special Pythagorean triplet (Difficulty: 5%)">9</a></td>
				<td class="complete"><a href="/euler/10/" title="Summation of primes (Difficulty: 5%)">10</a></td>
				<td class="complete"><a href="/euler/11/" title="Largest product in a grid (Difficulty: 5%)">11</a></td>
				<td class="complete"><a href="/euler/12/" title="Highly divisible triangular number (Difficulty: 5%)">12</a></td>
				<td class="complete"><a href="/euler/13/" title="Large sum (Difficulty: 5%)">13</a></td>
				<td class="complete"><a href="/euler/14/" title="Longest Collatz sequence (Difficulty: 5%)">14</a></td>
				<td class="complete"><a href="/euler/15/" title="Lattice paths (Difficulty: 5%)">15</a></td>
				<td class="complete"><a href="/euler/16/" title="Power digit sum (Difficulty: 5%)">16</a></td>
				<td class="complete"><a href="/euler/17/" title="Number letter counts (Difficulty: 5%)">17</a></td>
				<td class="complete"><a href="/euler/18/" title="Maximum path sum I (Difficulty: 5%)">18</a></td>
				<td class="hackerrank-imperfect"><a href="/euler/19/" title="Counting Sundays (Difficulty: 5%)">19</a></td>
				<td class="complete"><a href="/euler/20/" title="Factorial digit sum (Difficulty: 5%)">20</a></td>
				
			</tr>
			<tr>
				<td class="complete"><a href="/euler/21/" title="Amicable numbers (Difficulty: 5%)">21</a></td>
				<td class="complete"><a href="/euler/22/" title="Names scores (Difficulty: 5%)">22</a></td>
				<td class="complete"><a href="/euler/23/" title="Non-abundant sums (Difficulty: 5%)">23</a></td>
				<td class="complete"><a href="/euler/24/" title="Lexicographic permutations (Difficulty: 5%)">24</a></td>
				<td class="complete"><a href="/euler/25/" title="1000-digit Fibonacci number (Difficulty: 5%)">25</a></td>
				<td class="unsolved">26</td>
				<td class="complete"><a href="/euler/27/" title="Quadratic primes (Difficulty: 5%)">27</a></td>
				<td class="complete"><a href="/euler/28/" title="Number spiral diagonals (Difficulty: 5%)">28</a></td>
				<td class="unsolved">29</td>
				<td class="complete"><a href="/euler/30/" title="Digit fifth powers (Difficulty: 5%)">30</a></td>
				<td class="complete"><a href="/euler/31/" title="Coin sums (Difficulty: 5%)">31</a></td>
				<td class="complete"><a href="/euler/32/" title="Pandigital products (Difficulty: 5%)">32</a></td>
				<td class="unsolved">33</td>
				<td class="complete"><a href="/euler/34/" title="Digit factorials (Difficulty: 5%)">34</a></td>
				<td class="complete"><a href="/euler/35/" title="Circular primes (Difficulty: 5%)">35</a></td>
				<td class="complete"><a href="/euler/36/" title="Double-base palindromes (Difficulty: 5%)">36</a></td>
				<td class="complete"><a href="/euler/37/" title="Truncatable primes (Difficulty: 5%)">37</a></td>
				<td class="unsolved">38</td>
				<td class="complete"><a href="/euler/39/" title="Integer right triangles (Difficulty: 5%)">39</a></td>
				<td class="complete"><a href="/euler/40/" title="Champernowne's constant (Difficulty: 5%)">40</a></td>
				
			</tr>
			<tr>
				<td class="complete"><a href="/euler/41/" title="Pandigital prime (Difficulty: 5%)">41</a></td>
				<td class="complete"><a href="/euler/42/" title="Coded triangle numbers (Difficulty: 5%)">42</a></td>
				<td class="unsolved">43</td>
				<td class="complete"><a href="/euler/44/" title="Pentagon numbers (Difficulty: 5%)">44</a></td>
				<td class="unsolved">45</td>
				<td class="complete"><a href="/euler/46/" title="Goldbach's other conjecture (Difficulty: 5%)">46</a></td>
				<td class="complete"><a href="/euler/47/" title="Distinct primes factors (Difficulty: 5%)">47</a></td>
				<td class="complete"><a href="/euler/48/" title="Self powers (Difficulty: 5%)">48</a></td>
				<td class="unsolved">49</td>
				<td class="unsolved">50</td>
				<td class="unsolved">51</td>
				<td class="complete"><a href="/euler/52/" title="Permuted multiples (Difficulty: 5%)">52</a></td>
				<td class="complete"><a href="/euler/53/" title="Combinatoric selections (Difficulty: 5%)">53</a></td>
				<td class="unsolved">54</td>
				<td class="complete"><a href="/euler/55/" title="Lychrel numbers (Difficulty: 5%)">55</a></td>
				<td class="complete"><a href="/euler/56/" title="Powerful digit sum (Difficulty: 5%)">56</a></td>
				<td class="unsolved">57</td>
				<td class="unsolved">58</td>
				<td class="unsolved">59</td>
				<td class="unsolved">60</td>
				
			</tr>
			<tr>
				<td class="unsolved">61</td>
				<td class="unsolved">62</td>
				<td class="unsolved">63</td>
				<td class="unsolved">64</td>
				<td class="unsolved">65</td>
				<td class="unsolved">66</td>
				<td class="complete"><a href="/euler/67/" title="Maximum path sum II (Difficulty: 5%)">67</a></td>
				<td class="unsolved">68</td>
				<td class="unsolved">69</td>
				<td class="unsolved">70</td>
				<td class="unsolved">71</td>
				<td class="unsolved">72</td>
				<td class="unsolved">73</td>
				<td class="unsolved">74</td>
				<td class="unsolved">75</td>
				<td class="unsolved">76</td>
				<td class="unsolved">77</td>
				<td class="unsolved">78</td>
				<td class="unsolved">79</td>
				<td class="unsolved">80</td>
				
			</tr>
			<tr>
				<td class="unsolved">81</td>
				<td class="unsolved">82</td>
				<td class="unsolved">83</td>
				<td class="unsolved">84</td>
				<td class="unsolved">85</td>
				<td class="unsolved">86</td>
				<td class="unsolved">87</td>
				<td class="unsolved">88</td>
				<td class="unsolved">89</td>
				<td class="unsolved">90</td>
				<td class="unsolved">91</td>
				<td class="unsolved">92</td>
				<td class="unsolved">93</td>
				<td class="unsolved">94</td>
				<td class="unsolved">95</td>
				<td class="unsolved">96</td>
				<td class="unsolved">97</td>
				<td class="unsolved">98</td>
				<td class="unsolved">99</td>
				<td class="unsolved">100</td>
				
			</tr>
	</table>
