<table style="margin: 0px auto;" class="fancy-table" id="euler-progress-table">
	<thead>
		<tr>
			<th data-sort-method='number' role="columnheader">&num;</th>
			<th role="columnheader">Name</th>
			<th data-sort-method='number' title="Project Euler difficulty (out of 100)" role="columnheader">PE</th>
			<th role="columnheader" title="Hackerrank difficulty">HR</th>
			<th data-sort-method='number' role="columnheader">Runtime (ms)</th>
			<th data-sort-method='number' role="columnheader">Memory (KB)</th>
		</tr>
	</thead>
	<tbody>
		
			<tr>
				<td>1</td>
				<td><a href="../1/">Multiples of 3 and 5</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8716</td>
			</tr>
		
			<tr>
				<td>2</td>
				<td><a href="../2/">Even Fibonacci Numbers</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>13</td>
				<td>8783</td>
			</tr>
		
			<tr>
				<td>3</td>
				<td><a href="../3/">Largest Prime Factor</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>163</td>
				<td>17120</td>
			</tr>
		
			<tr>
				<td>4</td>
				<td><a href="../4/">Largest Palindrome Product</a></td>
				<td>5</td>
				<td>Medium</td>
				<td>557</td>
				<td>8790</td>
			</tr>
		
			<tr>
				<td>5</td>
				<td><a href="../5/">Smallest Multiple</a></td>
				<td>5</td>
				<td>Medium</td>
				<td>12</td>
				<td>8794</td>
			</tr>
		
			<tr>
				<td>6</td>
				<td><a href="../6/">Sum Square Difference</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>12</td>
				<td>8754</td>
			</tr>
		
			<tr>
				<td>7</td>
				<td><a href="../7/">10001st Prime</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>41</td>
				<td>9966</td>
			</tr>
		
			<tr>
				<td>8</td>
				<td><a href="../8/">Largest Product in a Series</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>39</td>
				<td>8801</td>
			</tr>
		
			<tr>
				<td>9</td>
				<td><a href="../9/">Special Pythagorean Triplets</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>32</td>
				<td>8746</td>
			</tr>
		
			<tr>
				<td>10</td>
				<td><a href="../10/">Summation of Primes</a></td>
				<td>5</td>
				<td>Medium</td>
				<td>479</td>
				<td>29890</td>
			</tr>
		
			<tr>
				<td>11</td>
				<td><a href="../11/">Largest Product in a Grid</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>11</td>
				<td>8854</td>
			</tr>
		
			<tr>
				<td>12</td>
				<td><a href="../12/">Highly Divisible Triangular Number</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>106</td>
				<td>8871</td>
			</tr>
		
			<tr>
				<td>13</td>
				<td><a href="../13/">Large Sum</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>11</td>
				<td>8792</td>
			</tr>
		
			<tr>
				<td>14</td>
				<td><a href="../14/">Longest Collatz Sequence</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>1022</td>
				<td>17037</td>
			</tr>
		
			<tr>
				<td>15</td>
				<td><a href="../15/">Lattice Paths</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>12</td>
				<td>8828</td>
			</tr>
		
			<tr>
				<td>16</td>
				<td><a href="../16/">Power Digit Sum</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>11</td>
				<td>8779</td>
			</tr>
		
			<tr>
				<td>17</td>
				<td><a href="../17/">Number Letter Counts</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>22</td>
				<td>8916</td>
			</tr>
		
			<tr>
				<td>18</td>
				<td><a href="../18/">Maximum Path Sum I</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8745</td>
			</tr>
		
			<tr>
				<td>20</td>
				<td><a href="../20/">Factorial Digit Sum</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8803</td>
			</tr>
		
			<tr>
				<td>21</td>
				<td><a href="../21/">Amicable Numbers</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>2038</td>
				<td>8801</td>
			</tr>
		
			<tr>
				<td>22</td>
				<td><a href="../22/">Names Scores</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>254</td>
				<td>9288</td>
			</tr>
		
			<tr>
				<td>23</td>
				<td><a href="../23/">Non-abundant Sums</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>2980</td>
				<td>10268</td>
			</tr>
		
			<tr>
				<td>24</td>
				<td><a href="../24/">Lexicographic Permutations</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>11</td>
				<td>8797</td>
			</tr>
		
			<tr>
				<td>25</td>
				<td><a href="../25/">1000-digit Fibonacci Number</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8770</td>
			</tr>
		
			<tr>
				<td>27</td>
				<td><a href="../27/">Quadratic Primes</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>1170</td>
				<td>8848</td>
			</tr>
		
			<tr>
				<td>28</td>
				<td><a href="../28/">Number Spiral Diagonals</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8806</td>
			</tr>
		
			<tr>
				<td>30</td>
				<td><a href="../30/">Digit Fifth Powers</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>92</td>
				<td>9082</td>
			</tr>
		
			<tr>
				<td>31</td>
				<td><a href="../31/">Coin Sums</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>152</td>
				<td>12531</td>
			</tr>
		
			<tr>
				<td>32</td>
				<td><a href="../32/">Pandigital Products</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>8495</td>
				<td>8810</td>
			</tr>
		
			<tr>
				<td>34</td>
				<td><a href="../34/">Digit Factorials</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>200</td>
				<td>8871</td>
			</tr>
		
			<tr>
				<td>35</td>
				<td><a href="../35/">Circular Primes</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>4753</td>
				<td>19478</td>
			</tr>
		
			<tr>
				<td>36</td>
				<td><a href="../36/">Double Base Palindromes</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>70</td>
				<td>9550</td>
			</tr>
		
			<tr>
				<td>37</td>
				<td><a href="../37/">Truncatable Primes</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>347</td>
				<td>16419</td>
			</tr>
		
			<tr>
				<td>39</td>
				<td><a href="../39/">Integer Right Triangles</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8840</td>
			</tr>
		
			<tr>
				<td>40</td>
				<td><a href="../40/">Champernowne's Constant</a></td>
				<td>5</td>
				<td>Medium</td>
				<td>31</td>
				<td>8739</td>
			</tr>
		
			<tr>
				<td>41</td>
				<td><a href="../41/">Pandigital Prime</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>678</td>
				<td>9000</td>
			</tr>
		
			<tr>
				<td>42</td>
				<td><a href="../42/">Coded Triangle Numbers</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>30</td>
				<td>8792</td>
			</tr>
		
			<tr>
				<td>44</td>
				<td><a href="../44/">Pentagon Numbers</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>2128</td>
				<td>8716</td>
			</tr>
		
			<tr>
				<td>46</td>
				<td><a href="../46/">Goldbach's Other Conjecture</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>114</td>
				<td>13929</td>
			</tr>
		
			<tr>
				<td>47</td>
				<td><a href="../47/">Distinct Primes Factors</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>176</td>
				<td>9474</td>
			</tr>
		
			<tr>
				<td>48</td>
				<td><a href="../48/">Self Powers</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>11</td>
				<td>8630</td>
			</tr>
		
			<tr>
				<td>52</td>
				<td><a href="../52/">Permuted Multiples</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>60</td>
				<td>8734</td>
			</tr>
		
			<tr>
				<td>53</td>
				<td><a href="../53/">Combinatoric Selections</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8719</td>
			</tr>
		
			<tr>
				<td>55</td>
				<td><a href="../55/">Lychrel Numbers</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>81</td>
				<td>8772</td>
			</tr>
		
			<tr>
				<td>56</td>
				<td><a href="../56/">Powerful Digit Sum</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>180</td>
				<td>8907</td>
			</tr>
		
			<tr>
				<td>57</td>
				<td><a href="../57/">Square Root Convergents</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>15</td>
				<td>8775</td>
			</tr>
		
			<tr>
				<td>58</td>
				<td><a href="../58/">Spiral Primes</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>492</td>
				<td>8879</td>
			</tr>
		
			<tr>
				<td>63</td>
				<td><a href="../63/">Powerful Digit Counts</a></td>
				<td>5</td>
				<td>Easy</td>
				<td>10</td>
				<td>8700</td>
			</tr>
		
			<tr>
				<td>65</td>
				<td><a href="../65/">Convergents of $e$</a></td>
				<td>15</td>
				<td>Easy</td>
				<td>10</td>
				<td>8731</td>
			</tr>
		
			<tr>
				<td>67</td>
				<td><a href="../67/">Maximum Path Sum II</a></td>
				<td>5</td>
				<td>Medium</td>
				<td>105</td>
				<td>9726</td>
			</tr>
		
			<tr>
				<td>69</td>
				<td><a href="../69/">Totient Maximum</a></td>
				<td>10</td>
				<td>Easy</td>
				<td>10</td>
				<td>8718</td>
			</tr>
		
	</tbody>
</table>