{% if article.status != "draft" %}
    <aside id="gcman-toolbar">
        {% if article.prev_article %}
            {% if article.prev_article.shorttitle %}
                <a title="{{ article.prev_article.shorttitle }}" class="prev" href="{{ SITEURL }}/{{ article.prev_article.url }}">
            {% else %}
                <a title="{{ article.prev_article.title }}" class="prev" href="{{ SITEURL }}/{{ article.prev_article.url }}">
            {% endif %}
                {% if "long" in article.tags %}
                    <i class="fas fa-chevron-left"></i>
                {% else %}
                    <i class="fas fa-chevron-circle-left"></i>
                {% endif %}
            </a>
        {% endif %}
        <a title="Raw source" class="raw" href="{{ SITEURL }}/{{ article.slug }}/src.md" type="text/plain">
            <i class="fas fa-code" aria-hidden="true"></i>
        </a>
        {% include 'home_link.html' %}
        <a title="PDF" class="pdf" href="{{ SITEURL }}/{{ article.slug }}/post.pdf">
            <i class="far fa-file-pdf" aria-hidden="true"></i>
        </a>
        {% if article.next_article %}
            {% if article.next_article.shorttitle %}
                <a title="{{ article.next_article.shorttitle }}" class="next" href="{{ SITEURL }}/{{ article.next_article.url }}">
            {% else %}
                <a title="{{ article.next_article.title }}" class="next" href="{{ SITEURL }}/{{ article.next_article.url }}">
            {% endif %}
                {% if "long" in article.tags %}
                    <i class="fas fa-chevron-right"></i>
                {% else %}
                    <i class="fas fa-chevron-circle-right"></i>
                {% endif %}
            </a>
        {% endif %}
    </aside>
{% endif %}