<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gautam Manohar's Personal Website</title>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="yMFFIOIN7PiAoCbBJmLSutrBWZCfjqM7intNsFjKXew" />
    <meta name="author" content="Gautam Manohar" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="Gautam Manohar" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Voraciously curious. Ceaselessly skeptical. Unabashedly nerdy. Student, math lover, writer, lifelong learner. Dabbles in computer science and chemistry." />
    {{- partial "header/favicons.html" . }}
    {{ $normalize := resources.Get "sass/normalize.min.scss" }}
    {{ $index := resources.Get "sass/index.scss" }}
    {{ $style := slice $normalize $index | resources.Concat "sass/index-style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{- partial "header/google-analytics.html" . }}
  </head>
  <body>
    <div class="banner">
      <h1><a style="color: ivory;" href="{{ .Site.BaseURL}}">Gautam Manohar</a></h1>
    </div>
    <div class="nav-wrapper">
      <nav id="blog-top">
        <ul>
          <li><a href="https://github.com/gcman">github</a></li>
          <li><a href="{{ .Site.BaseURL }}/blog/">blog</a></li>
        </ul>
      </nav>
    </div>
    <div id="padding" style="height: 5.5em; width:100%; background-color: firebrick;"></div>
    <div class="content">
      {{ .Content }}
    </div>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementById("blog-top");
      var sticky = header.offsetTop;
      function myFunction() {
          if (window.pageYOffset >= sticky) {
              header.classList.add("fixed");
          } else {
              header.classList.remove("fixed");
          }
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{- partial "header/mathjax.html" -}}
  </body>
</html>
