{{ define "title" }}{{ $currentTag := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}{{ title $currentTag }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <article class="section article">
    {{ partial "blog-header.html" . -}}
    <div id="content">
      <section>
        {{ $currentTag := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
        {{ range $name,$taxonomy := .Site.Taxonomies.categories }}
        {{ $s := newScratch }}
        {{ $s.Set "pages" (where (intersect (index $.Site.Taxonomies.tags $currentTag) $taxonomy) "Kind" "page") }}
        {{ with $s.Get "pages"  }}
        <h2>{{ index (index $.Site.Data.flavour $name) "name" }} <strong>/ {{ index (index $.Site.Data.flavour $name) "flavour" }} </strong></h2>
        <table>
          {{ range . }}
            {{ partial "index-row.html" . }}
          {{ end }}
        </table>
        {{ end }}
        {{ end }}
      </section>
    </div>
  </article>
{{ end }}
