{{ define "title" }}{{ $currentTag := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}{{ title $currentTag }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <article class="section article">
    {{ partial "blog-header.html" . -}}
    <div id="content">
      <section>
        {{ $currentTag := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
        {{ range $name,$taxonomy := .Site.Taxonomies.categories }}
        <h2>{{ title $name }} <strong>/ {{ index $.Site.Data.flavour $name }}</strong></h2>
        <table>
          {{ range $.Site.RegularPages}}
            {{ if in .Params.categories $name }}
              {{ if in .Params.tags $currentTag }}
                {{ partial "index-row.html" . }}
              {{ end }}
            {{ end }}
          {{ end }}
        </table>
        {{ end }}
      </section>
    </div>
  </article>
{{ end }}
